flask
flask-cors
anthropic
langchain==0.3.25
langchain-anthropic==0.3.10
langchain-community==0.3.24
langchain-text-splitters==0.3.8
langchain-core==0.3.59
chromadb==0.5.23
pypdf
python-dotenv
sentence-transformers==3.4.1
pydantic==2.7.4